{% extends "layouts/base.html" %}

{% block title %} UI Tabs {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>
        
        {% include 'includes/preloader.html' %}

        <!-- Hero -->
        <div class="section-header pb-6 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 text-center">
                        <h1 class="display-3 mb-4">Tabs</h1>
                        <p class="lead mb-5">Use the tab JavaScript plugin—include it individually or through the compiled bootstrap.js file—to extend our navigational tabs and pills to create tabbable panes of local content, even via dropdown menus.</p>
                        <div class="alert bg-secondary align-items-center" role="alert">
                            <span class="alert-inner--icon"><span class="fas fa-info-circle"></span></span>
                            <a class="fw-bold" href="https://themesberg.com/docs/pixel-bootstrap/components/tabs/" target="_blank">See our Documentation</a> for a detailed technical explanation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Hero -->
        
        <!-- Section -->
        <div class="section section-md">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-10 col-lg-8">
                        <!-- Tab Nav -->
                        <div class="nav-wrapper position-relative mb-2">
                            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0 active" id="tabs-text-1-tab" data-bs-toggle="tab"
                                        href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-bs-toggle="tab"
                                        href="#tabs-text-2" role="tab" aria-controls="tabs-text-2"
                                        aria-selected="false">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-bs-toggle="tab"
                                        href="#tabs-text-3" role="tab" aria-controls="tabs-text-3"
                                        aria-selected="false">Messages</a>
                                </li>
                            </ul>
                        </div>
                        <!-- End of Tab Nav -->
                        <!-- Tab Content -->
                        <div class="card border-0">
                            <div class="card-body p-0">
                                <div class="tab-content" id="tabcontent1">
                                    <div class="tab-pane fade show active" id="tabs-text-1" role="tabpanel"
                                        aria-labelledby="tabs-text-1-tab">
                                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.
                                            Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident
                                            chillwave deep v laborum. Aliquip veniam delectus,
                                            Marfa eiusmod Pinterest in do umami readymade swag.</p>
                                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married
                                            his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-text-2" role="tabpanel"
                                        aria-labelledby="tabs-text-2-tab">
                                        <p>Photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer elit
                                            seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v
                                            laborum. Aliquip veniam delectus, Marfa eiusmod
                                            Pinterest in do umami readymade swag.</p>
                                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married
                                            his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                                    </div>
                                    <div class="tab-pane fade" id="tabs-text-3" role="tabpanel"
                                        aria-labelledby="tabs-text-3-tab">
                                        <p>Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed.
                                            Craft beer elit seitan exercitation, photo booth et 8-bit kale chips proident
                                            chillwave deep v laborum. Aliquip veniam delectus,
                                            Marfa eiusmod Pinterest in do umami readymade swag.</p>
                                        <p>Day handsome addition horrible sensible goodness two contempt. Evening for married
                                            his account removal. Estimable me disposing of be moonlight cordially curiosity.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End of Tab Content -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Section -->

    </main>
    
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
