
  <footer class="footer footer-white ">
      <div class="container">
        <div class="row">
          <nav class="footer-nav">
            <ul>
              <li>
                <a targe="_blank" href="https://appseed.us/boilerplate-code/flask">
                  Boilerplate Code Flask
                </a>
              </li>
            </ul>
          </nav>
          <div class="credits ml-auto">
            <span class="copyright">
              &copy; <a targe="_blank" href="https://www.creative-tim.com/">Creative Tim</a> 
              - coded by <a targe="_blank" href="https://appseed.us">AppSeed</a>
            </span>
          </div>
        </div>
      </div>
  </footer>
