{% extends "layouts/base.html" %}

{% block title %} UI Typography {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Typography</h1>
                    <p class="lead mb-5">Pixel makes use of the <strong>Nunito</strong> Google Web Font for beatiful and readable typography.</p>
                    <div class="alert alert-secondary align-items-center" role="alert">
                        <span class="alert-inner--icon"><span class="fas fa-info-circle"></span></span>
                        <a class="font-weight-bold" href="https://themesberg.com/docs/pixel-bootstrap/foundation/typography/" target="_blank">See our Documentation</a> for a detailed technical explanation.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero -->
    
    <!-- Section -->
    <div class="section section-md">
        <div class="container">
            <!-- Title  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <h4 class="h6 font-weight-bold">Headings</h4>
                    </div>
                </div>
            </div>
            <!-- End of Title -->
            <div class="row">
                <div class="col-md-12">
                    <h2 class="h1">h1. Bootstrap heading</h2>
                    <h2>h2. Bootstrap heading</h2>
                    <h3>h3. Bootstrap heading</h3>
                    <h4>h4. Bootstrap heading</h4>
                    <h5>h5. Bootstrap heading</h5>
                    <h6>h6. Bootstrap heading</h6>
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-6 mb-5">
                        <h4 class="h6 font-weight-bold">Customizing headings</h4>
                    </div>
                </div>
            </div>
            <!-- End of Title -->
            <div class="row">
                <div class="col-md-12">
                    <h5 class="h1">Fancy display heading</h5>
                    <h5 class="h2">Fancy display heading</h5>
                    <h5 class="h3">Fancy display heading</h5>
                    <h5 class="h4">Fancy display heading</h5>
                    <h5 class="h5">Fancy display heading</h5>
                    <h5 class="h6">Fancy display heading</h5>
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-6 mb-5">
                        <h4 class="h6 font-weight-bold">Display headings</h4>
                    </div>
                </div>
            </div>
            <!-- End of Title -->
            <div class="row">
                <div class="col-md-12">
                    <h5 class="display-1">Display 1</h5>
                    <h5 class="display-2">Display 2</h5>
                    <h5 class="display-3">Display 3</h5>
                    <h5 class="display-4">Display 4</h5>
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-6 mb-5">
                        <h4 class="h6 font-weight-bold">Paragraphs</h4>
                    </div>
                </div>
            </div>
            <!-- End of Title -->
            <div class="row mb-5">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h4 class="h6 font-weight-bold">Simple paragraph</h4>
                    </div>
                    <p>Start your development with a Pixel Design System for Bootstrap 4.Themesberg makes beautiful products to help people with creative ideas succeed.Our company empowers millions of people.
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="mt-5 mb-3 mt-sm-0">
                        <h4 class="h6 font-weight-bold">Lead paragraph</h4>
                    </div>
                    <p class="lead">Start your development with a Pixel Design System for Bootstrap 4.Themesberg makes beautiful products to help people with creative ideas succeed.Our company empowers millions of people.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Muted text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-muted mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Dark text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-dark mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Primary text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-primary mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Secondary text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-secondary mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Tertiary text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-tertiary mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Info text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-info mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Danger text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-danger mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <div class="row py-3 align-items-center">
                <div class="col-sm-2">
                    <h4 class="h6 text-uppercase text-muted">Success text</h4>
                </div>
                <div class="col-sm-10">
                    <p class="text-success mb-0">Design is not just what it looks like and feels like. Design is how it works.</p>
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-6 mb-5">
                        <h4 class="h6 font-weight-bold">Blockquote</h4>
                    </div>
                </div>
            </div>
            <!-- End of Title -->
            <div class="row">
                <div class="col-md-8">
                    <blockquote class="blockquote text-center">
                        Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                        <footer class="blockquote-footer mt-3 text-primary">James Curran</footer>
                    </blockquote>
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col-md-4">
                    <div class="mt-6 mb-5">
                        <h4 class="h6 font-weight-bold">Lists</h4>
                    </div>
                </div>
            </div>
            <!-- End of Title -->
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <h4 class="h6 font-weight-bold">Unordered</h4>
                    </div>
                    <ul>
                        <li>Minutes of the last meeting</li>
                        <li>Do we need yet more meetings?</li>
                        <li>Any other business
                            <ul>
                                <li>Programming</li>
                                <li>Web Design</li>
                                <li>Database</li>
                            </ul>
                        </li>
                        <li>Something funny</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="mt-5 mb-3 mt-sm-0">
                        <h4 class="h6 font-weight-bold">Ordered</h4>
                    </div>
                    <ol>
                        <li>Minutes of the last meeting</li>
                        <li>Do we need yet more meetings?</li>
                        <li>Any other business
                            <ol>
                                <li>Programming</li>
                                <li>Web Design</li>
                                <li>Database</li>
                            </ol>
                        </li>
                        <li>Something funny</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section -->

    <section class="section section-lg bg-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <h2 class="h1 font-weight-light mb-3"><strong>Open source</strong> project</h2>
                    <p class="lead mb-4">Pixel Lite is an open source UI Kit that is licensed under the very permissive MIT License. Consider giving us a star on the official Github repository to spread the news!</p>
                    <div class="d-flex align-items-center">
                        <a href="https://github.com/themesberg/pixel-bootstrap-ui-kit" target="_blank" class="btn btn-tertiary mr-4 animate-up-2">
                            View on GitHub
                        </a>
                        <!-- Place this tag where you want the button to render. -->
                        <div class="mt-2">
                            <!-- Place this tag where you want the button to render. -->
                            <a class="github-button" href="https://github.com/themesberg/pixel-bootstrap-ui-kit" data-color-scheme="no-preference: dark; light: light; dark: light;" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star themesberg/pixel-bootstrap-ui-kit on GitHub">Star</a>                            
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="github-big-icon">
                    <span class="fab fa-github"></span>
                    </div>
                </div>
            </div>
            <div class="row mt-6">
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card border-light p-4">
                        <!-- Header -->
                        <div class="card-header bg-white pb-0">
                            <span class="d-block">
                                <span class="h3 text-primary font-weight-bold align-top">
                                    Free Version
                                </span>
                            </span>
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-group list-group-flush price-list">
                                <li class="list-group-item bg-white pl-0"><strong>80</strong> Components</li>
                                <li class="list-group-item bg-white pl-0"><strong>4</strong> Example Pages</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle"></span></span> Uncoventional cards</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle"></span></span> Timelines</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle"></span></span> E-commerce</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-danger"><span class="fas fa-times-circle"></span></span> Charts</li>
                                <li class="list-group-item bg-white pl-0 pb-0"><span class="icon-danger"><span class="fas fa-times-circle"></span></span> Premium Support</li>
                            </ul>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0 mt-lg-n5">
                    <div class="card border-light p-4">
                        <!-- Header -->
                        <div class="card-header bg-white pb-0">
                            <span class="d-block">
                                <span class="h3 text-primary font-weight-bold align-top">
                                Pro Version
                                </span>
                            </span>
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-group list-group-flush price-list mb-5">
                                <li class="list-group-item bg-white pl-0"><strong>1000+</strong> Components</li>
                                <li class="list-group-item bg-white pl-0"><strong>17</strong> Example Pages</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle"></span></span> Uncoventional cards</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle"></span></span> Timelines</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle"></span></span> E-commerce</li>
                                <li class="list-group-item bg-white pl-0"><span class="icon-success"><span class="fas fa-check-circle"></span></span> Charts</li>
                                <li class="list-group-item bg-white border-0 pl-0 pb-0"><span class="icon-success"><span class="fas fa-check-circle"></span></span> Premium Support</li>
                            </ul>
                            <a href="https://demo.themesberg.com/pixel-pro/" target="_blank" class="btn btn-block btn-tertiary mr-4 animate-up-2">
                                Live demo <span class="fas fa-external-link-alt ml-2"></span>
                            </a>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
